version: '3.8'

services: 
  postgres:
    image: postgres:13
    container_name: sistema_bancario_postgres
    environment: 
      POSTGRES_USER: ADMIN
      POSTGRES_PASSWORD: Admin2026
      POSTGRES_DB: sistema_bancario 
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: