# .env.example

# URLs de los servicios API
EXPO_PUBLIC_AUTH_URL=http://localhost:5000/api/auth
EXPO_PUBLIC_ACCOUNTS_URL=http://localhost:5000/api/accounts
EXPO_PUBLIC_TRANSACTIONS_URL=http://localhost:5000/api/transactions
EXPO_PUBLIC_LOANS_URL=http://localhost:5000/api/loans
EXPO_PUBLIC_EMPLOYEES_URL=http://localhost:5000/api/employees
